<div class="text-box">
  <input [(ngModel)]='tarea.nombre' type="text" placeholder="Tarea">
  <button (click)="agregar()" class="agregar">Agregar</button>
</div>

<div *ngIf="tareas.length > 0" class="lista">
  <h2>Mis elementos</h2>
  <table>
    <tr *ngFor = "let tarea of tareas">
      <td>
        <label>
          <input type="checkbox" class="chk">
          <span class="nombre"> {{tarea.nombre}}</span>
        </label>
      </td>

      <td><button (click)="borrar(tarea)" class="quitar"> Quitar </button></td>
    </tr>
  </table>
</div>
